@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    color: #555555;
    background-color: #fff;
}

a {
    color: var(--smooth-black);
    text-decoration: none;
}

a:hover {
    color: var(--orange-800);
}

.window-container {
    width: 80%;
    margin: 2rem auto 100px;
    position: relative;
    top: 60px;
}

.window-title {
    background: linear-gradient(0deg, #CFD8DC, #ECEFF1);
    border: 1px solid var(--blue-gray-100);
    border-radius: 10px 10px 0 0;
    margin-bottom: 0px;
    font-size: 13px;
    height: 2.1rem;
    display: flex;
    align-items: center;
}

.window-body {
    border: solid 2px var(--blue-gray-100);
    background-color: var(--gray-50);
}

.form-container {
    background-color: #fff;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
}

.button-icon {
    width: 18px;
    height: 18px;
    margin-bottom: 2px;
}

.table-icon {
    width: 18px;
    height: 18px;
}

.table-icon:hover {
    color: var(--orange-800);
}

.table-icon-round {
    background-color: var(--amber-700);
    width: 33px;
    height: 33px;
    border-radius: 25px;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    color: #fff;
    padding-top: 5px;
}

#resultList {
    padding-left: 0px;
    border: solid 2px var(--blue-gray-100);
    display: none;
    border-radius: 0 0 5px 5px;
}

#resultList li {
    padding: 5px;
}

.widget-simple {
    background-color: #f8f8f8;
    box-shadow: 0px 5px 5px #efefef;
    border: #dedede solid 1px;
    padding: 13px;
    border-radius: 10px;
}

.widget-simple-head {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
}

.widget-simple-body {
    min-height: 70px;
}

.widget-simple-body:hover {
    color: var(--orange-800);
}

.widget-simple-body::-webkit-scrollbar {
    width: 4px;
    height: 8px;
}

.widget-simple-body::-webkit-scrollbar-thumb {
    background: #ccc;
}

.float-suggestions {
    position: absolute;
    list-style: none;
    border: solid 1px #ddd;
    border-radius: 0 0 5px 5px;
    background-color: #fafafaee;
    padding-left: 0px;
    cursor: default;
}

.float-suggestions>* {
    padding: 5px 5px 5px 10px
}

.float-suggestions>li:hover {
    background-color: var(--amber-100);
}

.dataTables_paginate .paginate_button {
    border-radius: 25px !important;
    border: solid 1px #555;
    background-color: #555555;
}

.dataTables_filter {
    margin-bottom: 20px !important;
}

.dataTables_length,
.dataTables_info,
.dataTables_filter,
.dataTables_paginate {
    padding-left: 20px;
    padding-right: 20px;
}

#services_filter {
    display: none;
}

.btn-white {
    background-color: #dedede;
}

.btn-white:hover {
    background-color: #cdcdcd;
}

.table>thead {
    background-color: var(--blue-gray-50);
    text-transform: uppercase;
    font-size: small;
}

.center-vertically {
    display: flex;
    align-items: center;
    justify-content: center;
}