services:
    mysql:
        image: mysql
#        restart: always
        ports:
            - "3306:3306"
        environment:
            - MYSQL_ROOT_USER=root
            - MYSQL_ROOT_PASSWORD=password
            - MYSQL_DATABASE=mecani21_mecanica
        volumes:
            - ./data:/var/lib/mysql

#    nginx:
#        image: nginx
#        ports:
#            - "8080:80"
#        environment:
#            - NGINX_HOST=foobar.com
#            - NGINX_PORT=80
#        volumes:
#            - ./templates:/etc/nginx/templates

#    php:
#        image: php:8.3-fpm-alpine
#        volumes:
#            - ./web:/var/www/html